/* Fuentes */
$quicksand: "Quicksand", sans-serif;
$caveat: "Caveat", cursive;

/* Colores */

$verdeOscuro: #727955;
$verdeMedio: #c5bfa3;
$verdeClaro: #f0f0e0;
$blanco: #ffffff;

body {
  font-family: $quicksand;
}

.caveat {
  font-family: $caveat;
}

.quicksand {
  font-family: $quicksand;
}

/* .flowers {
  height: 100vh;
  background-image: url(../img/flowers2.jpg);
  background-repeat: no-repeat;
  background-position-y: 0vh;
  background-position-x: 100%;
  z-index: 1000;
} */

/* -----HERO----- */

.hero {
  height: 100vh;
  z-index: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-image: url(../img/flowers.jpg);

  background-repeat: no-repeat;
  background-position-y: 38vh;

  .hero__container {
    background-color: transparent;
    h1 {
      text-align: center;
      font-style: normal;
      font-weight: 500;
      font-size: 39px;
      line-height: 49px;

      letter-spacing: -0.025em;

      color: #272727;
      margin-top: 10px;
    }

    .couple {
      color: $verdeOscuro;
      font-weight: bold;
      font-size: 66px;
      line-height: 83px;
      letter-spacing: 0.03em;
      margin-bottom: 30px;
    }
  }
}

/* -----INFO----- */
.info {
  margin-top: 25vh;
  .info__container {
    max-width: 1280px;
    width: 90%;
    margin: auto;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    img {
      filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.09));
      border-radius: 15px;

      flex: 1 0 40%;
    }

    .info__text {
      flex: 1 0 40%;
      padding: 80px;

      h2 {
        font-weight: 500;
        font-size: 31px;
        line-height: 39px;
        letter-spacing: -0.025em;
        color: $verdeOscuro;
      }

      p {
        margin-top: 25px;
        font-weight: normal;
        font-size: 16px;
        line-height: 25px;

        color: #272727;
      }
    }
  }
}

.rings {
  background-color: $verdeClaro;
  margin-top: 25vh;
  text-align: center;
  height: 80vh;
  max-height: 80vh;
  .rings__container {
    width: 80%;
    max-width: 1280px;
    margin: auto;
    height: 100%;

    h3 {
      font-weight: 500;
      font-size: 21px;
      line-height: 156.5%;

      color: #272727;
      padding-top: 55px;
    }

    h2 {
      font-weight: 500;
      font-size: 31px;
      line-height: 39px;
      letter-spacing: -0.025em;
      color: $verdeOscuro;
      padding-top: 1.5rem;
    }

    .rings__texts {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
      align-items: center;
      padding-top: 4rem;

      p {
        flex: 0 1 35%;

        font-size: 1em;
        line-height: 25px;
        text-align: left;
      }
    }
  }

  &::after {
    content: url("../img/rings.png");
    position: relative;
    right: -30%;
    top: -15%;
  }
}

/* -----BG-IMAGE----- */
.features {
  margin-bottom: 20vh;
  margin-top: 20vh;
  .features__container {
    width: 80%;
    max-width: 1280px;
    margin: auto;

    h2 {
      font-size: 31px;
      line-height: 39px;
      letter-spacing: -0.025em;
      color: $verdeOscuro;
      text-align: center;
      margin-top: 10vh;
    }

    .feature {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      margin-top: 10vh;

      .feature1,
      .feature2,
      .feature3 {
        flex: 1 0 33%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        img {
          width: 25%;
        }

        h3 {
          font-weight: 500;
          font-size: 21px;
          line-height: 156.5%;
          color: #272727;
          margin-top: 25px;
        }

        p {
          font-size: 16px;
          line-height: 25px;
          margin-top: 25px;
          width: 90%;
        }
      }
    }
  }
}

/* -----BG-IMAGE ----- */
.bg-image {
  width: 100%;
  max-height: 602px;
  min-height: 500px;
  background-image: url(../img/bg-parallax-jpg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* -----GIFTS ----- */
.gifts {
  margin-top: 20vh;
  .gifts__container {
    width: 80%;
    max-width: 1280px;
    margin: auto;

    h1 {
      font-weight: bold;
      font-size: 39px;
      line-height: 49px;
      letter-spacing: -0.025em;
      text-align: center;

      color: $verdeOscuro;
    }
    p {
      margin-top: 5vh;
      line-height: 25px;
      color: #000000;
      text-align: left;
      padding: 15px;
    }

    .gifts__cards {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;

      .card {
        flex: 0 0 50;

        box-shadow: -1px 9px 15px 0px rgba(17, 17, 17, 0.05);
        -webkit-box-shadow: -1px 9px 15px 0px rgba(17, 17, 17, 0.05);
        -moz-box-shadow: -1px 9px 15px 0px rgba(17, 17, 17, 0.05);
        width: 448px;
        min-height: 520px;

        margin-top: 6rem;
        position: relative;

        h2 {
          font-weight: bold;
          font-size: 32px;
          line-height: 34px;
          letter-spacing: 1px;
          color: #14142b;
          padding-left: 15px;
          padding-top: 15px;
        }
        p {
          font-weight: bold;
          font-size: 25px;
          line-height: 34px;
          letter-spacing: 1px;
          color: $verdeOscuro;
          padding-left: 15px;
        }
        button {
          padding: 7px 16px;
          width: 125px;
          height: 34px;
          background: #c5bfa3;
          border-radius: 39px;
          border: 0;
          font-family: $quicksand;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 18px;
          text-align: center;
          letter-spacing: 0.75px;
          color: $verdeOscuro;

          position: relative;
          left: 65%;
          cursor: pointer;
          margin-top: 20px;

          &::before {
            content: url("../img/buy.svg");
            position: relative;
            right: 8px;
            top: 2.5px;
          }
        }
      }
    }
  }
}

/* -----MODAL ----- */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  transform: scale(0);
  transition: transform 0.3s;

  .modal__content {
    background-color: white;
    width: 50vw;
    height: 50vh;
    padding: 3rem;
  }
}

.modal--show {
  transform: scale(1);
}

/* -----FOOTER ----- */
.footer {
  height: 100vh;
  z-index: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-image: url(../img/flowers2.jpg);

  background-repeat: no-repeat;
  background-position-y: 44vh;
  background-position-x: 74vw;

  .footer__container {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    p {
      text-align: center;
      font-style: normal;
      font-weight: 500;
      font-size: 39px;
      line-height: 49px;

      letter-spacing: -0.025em;

      color: #272727;
      margin-top: 10px;
    }

    img {
      margin: 0 auto;
    }

    .couple {
      color: $verdeOscuro;
      font-weight: bold;
      font-size: 66px;
      line-height: 83px;
      letter-spacing: 0.03em;
      margin-bottom: 30px;
    }
  }
}

/*  -------------MEDIA QUERIES------------ */

@media (max-width: 1440px) {
  .rings {
    background-color: $verdeClaro;
    margin-top: 25vh;
    text-align: center;
    height: 60vh;
    max-height: 60vh;
    .rings__container {
      .rings__texts {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 4rem;

        p {
          margin-top: 15px;
        }
      }
    }

    &::after {
      content: url();
    }
  }
  .features {
    margin-bottom: 50vh;
    margin-top: 20vh;
    .features__container {
      width: 80%;
      max-width: 1280px;
      margin: auto;

      .feature {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: center;
        margin-top: 10vh;

        .feature1,
        .feature2,
        .feature3 {
          flex: 1 0 33%;

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;

          img {
            width: 20%;
          }
        }
      }
    }
  }

  .gifts {
    margin-top: 20vh;
    .gifts__container {
      width: 80%;
      max-width: 1280px;
      margin: auto;

      h1 {
        font-weight: bold;
        font-size: 39px;
        line-height: 49px;
        letter-spacing: -0.025em;
        text-align: center;

        color: $verdeOscuro;
      }
      p {
        margin-top: 5vh;
        line-height: 25px;
        color: #000000;
        text-align: left;
        padding: 15px;
      }

      .gifts__cards {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}

@media (max-width: 600px) {
  .hero {
    background-image: url();
  }

  .info {
    margin-top: 25vh;
    .info__container {
      max-width: 1280px;
      width: 90%;
      margin: auto;

      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;
      align-items: center;

      img {
        filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.09));
        border-radius: 15px;
        width: 100%;
      }

      .info__text {
        flex: 1 0 40%;
      }
    }
  }

  .rings {
    .rings__container {
      .rings__texts {
        display: none;
      }
    }
  }

  .gifts {
    .gifts__container {
      .gifts__cards {
        flex-direction: column;
      }
    }
  }

  .gifts {
    margin-top: 20vh;
    .gifts__container {
      width: 80%;
      max-width: 1280px;
      margin: auto;

      .gifts__cards {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;

        .card {
          margin: 0 auto;
          flex: 1 0 100%;
        }
      }
    }
  }
}
